# SSH hacia el servidor de la base
DB_SSH_HOST=10.0.14.44
DB_SSH_PORT=22
DB_SSH_USER=reportes
DB_SSH_PASSWORD=RP.Energy202$5$

DB_HOST_REMOTE=127.0.0.1
DB_PORT_REMOTE=3306
DB_USER=TU_USUARIO
DB_PASSWORD=TU_CONTRASEÑA
DB_NAME=balance

DB_UTILS_QUIET=0
